/target
.settings
/.project
/.classpath
.DS_Store
.idea
.nrepl-port
*.iml
*.iws
**/Slask*
**/slask*
/venv
**/*pyc
**/*cache*
**/__pycache__/
src/condep/state.json
delivery
deploy
apache
__pycache__/
.coverage
htmlcov
apache
delivery
dist
condep.egg-info
TODO.md